body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: rgb(72, 72, 248);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
@media (max-width: 500px) {
    /* arruma o cabeçalho(no tamanho da tela)*/
    header {
        text-align: left;
        padding: 20px;
    }

    /* arruma eles deitado */
    .menu {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        gap: 10px;
    }
}
section {
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-top: 10px;
}

footer {
    background-color: rgb(94, 94, 248);
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
